<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.stocki">

    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Login"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".LupaPassword"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".AktifitasToko.TokoUpdatePassword"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".AktifitasKaryawan.KaryawanUpdatePassword"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".AktifitasAdmin.AdminUpdatePassword"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".AktifitasKaryawan.Karyawan"
            android:label="@string/title_activity_karyawan"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AktifitasAdmin.Admin"
            android:label="@string/title_activity_admin"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AktifitasToko.Toko"
            android:label="@string/title_activity_toko"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".AktifitasAdmin.AdminProfil"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".AktifitasKaryawan.KaryawanProfil"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".AktifitasToko.TokoProfil"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".AktifitasToko.TokoManajemenKaryawan"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".AktifitasAdmin.AdminManajemenMitra"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".AktifitasAdmin.AdminTambahMitra"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".AktifitasToko.TokoTambahKaryawan"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".AktifitasAdmin.AdminInputBarang"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".AktifitasAdmin.AdminBarang"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".AktifitasAdmin.AdminInfoBarang"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".AktifitasToko.TokoInfoBarang"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".AktifitasKaryawan.KaryawanInfoBarang"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".AktifitasToko.TokoInputBarang"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".AktifitasToko.TokoBarang"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".AktifitasKaryawan.KaryawanBarang"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".AktifitasToko.TokoTransaksi"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".AktifitasKaryawan.KaryawanTransaksi"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".AktifitasToko.TokoListTransaksi"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".AktifitasKaryawan.KaryawanListTransaksi"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".AktifitasToko.TokoInputBayarTransaksi"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".AktifitasKaryawan.KaryawanInputBayarTransaksi"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".AktifitasToko.TokoBerhasilTransaksi"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".AktifitasKaryawan.KaryawanBerhasilTransaksi"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".PickDeviceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".PickDeviceList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".AktifitasToko.TokoPenjualan"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".AktifitasToko.TokoRecTransaksi"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".AktifitasToko.TokoDetailRecTransaksi"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".AktifitasToko.TokoTanggungan"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".AktifitasAdmin.AdminDataPenjualan"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".AktifitasAdmin.AdminTanggungan"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".AktifitasKaryawan.KaryawanPenjualan"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <provider
            android:name=".helper.GenericFileProvider"
            android:authorities="${applicationId}.my.package.name.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>
</manifest>